
script.
    function checkAcceptanceBox() {    
        var box = document.getElementById("accept");
        var errorLabel = document.getElementById("error");
        var submitButton = document.getElementById("submit");
        if (box.checked) {
            errorLabel.innerText = "";
            submitButton.disabled = false;
        }
        else {
            errorLabel.innerText = "You must accept the terms and conditions to open an account";
            submitButton.disabled = true;
        }
    }

html 
    head 
        title Open an account
    body 
        button(type="button", onclick='window.location.href=window.location.origin + "/netbank/newservices"') Back
        br
        br
        h1 Open a new account: 
        if newaccount 
            p #{newaccount}
        else if error 
            p #{error}
        else 
            form(method="post", id="form")
                if cardlist
                    if cardlist.length > 1
                        h3 Attach more accounts to your cards:
                    else 
                        h3 Attach more accounts to your card:
                    table(style='width:50%', border='1')
                        tr 
                            th Card ID
                            th Account type
                            th 
                        each card, index in cardlist 
                            tr
                                td #{cardlist[index][card].id_account}
                                if cardlist[index][card].type == 1
                                    td Debit
                                else 
                                    td Credit
                                td
                                    input(type="radio", value=accounts[index].id_account, name=cardlist[index][card].id_account)
                    br
                h3 Open a new debit account  
                input(type="radio", id="", value="credit", name="debit")
                br
                br
                p By opening this account I consent to SimulBank Ltd collecting any number of 
                p infants borne from my blood.
                p 
                input(type="checkbox", id="accept", name="accept", onchange="checkAcceptanceBox()")
                label(for="accept") Accept
                br
                br
                button(type="submit", id="submit", disabled=true) Open an account
                label(for="submit", id="error", innerText="You must accept the terms and conditions to open an account")